.h1 {
  position:absolute;
  top:100px;
  left:10px;
  padding:20px;
}

.logo {
  position:absolute;
  top:400px;
  left:86px;
}

.bubbleText {
  position:absolute;
  top:18px;
  left:32px;
  font-family: 'Nanum Pen Script', cursive;
  font-size:38px;
  color:#515253;
}

.bubbleName {
  position:absolute;
  top:10px;
  left:16px;
  font-family: 'Nanum Pen Script', cursive;
  font-size:42px;
  color:#515253;
}

.StartBtn {
  position:relative;
  margin:auto;
  top:530px;
}

.name {
  position: absolute;
  margin: auto;
  top: 550px;
  left: 125px;
}

.nav {
  position: absolute;
  top:15px;
  left: 310px;
}

.progressbar {
  position:absolute;
  top:80px;
  left:40px;
}

.text {
  position:absolute;
  top:230px;
  left:10px;
  font-size: 24px;
  text-align: center;
}

.line {
  margin:auto;
  position:absolute;
  top:300px;
  left:40px;
}


