@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;200;300;400&display=swap');

html,
body {
  padding: 0;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  width: 390px;
  height: 844px;
  overflow: hidden;
  background-color: #FFFFFF;
  position:relative;
}

body {
  background-color: #F2DBDB;
  /* background-color: #F5DFDF; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color:#575757;
  text-align: center;
}
