.leftarrow {
    position: absolute;
    top:26px;
    left:22px;
  }

.nav {
    position: absolute;
    top:15px;
    left: 310px;
  }

.MusicTitle {
    position: absolute;
    left: 30px;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
  }

.sound {
    position: absolute;
    margin: auto;
    top: 22px;
    right: 16px;
    width:22px;
}

.prevNext {
  position: absolute;
  right: 40px;
}


.teokie {
  position: absolute;
  bottom:35px;
  width: 180px;
  left: 30px;;
}

.teokie2 {
  position: absolute;
  bottom:15px;
  width: 145px;
  left: 45px;
}

#teokLay {
  width: 50%;
  position: absolute;
  left: 32px;
}

.bubbleText{
  position:absolute;
  width:260px;
  top: 12px;
  left: 40px;
  font-family: 'Nanum Pen Script', cursive;
  font-size:32px;
  color:#515253;
  line-height: 0.9;
}