/* relax_duration */

.progressbar2 {
  position:absolute;
  top:100px;
  left:40px;
}

.bubbleText {
  position:absolute;
  top:180px;
  left:30px;
  font-family: 'Nanum Pen Script', cursive;
  font-size:42px;
  color:#515253;
}

.text {
  position:absolute;
  top:240px;
  left:10px;
  font-size: 24px;
  text-align: center;
}

.logo {
  position:absolute;
  top:280px;
  left:86px;
}

.line {
  margin:auto;
  position:absolute;
  top: 320px;
  left:40px;
}

.h1 {
  position:absolute;
  top:370px;
  left:60px;
}



.durationBtn {
  position:relative;
  margin:auto;
  top:460px;
}

.nav {
  position: absolute;
  top:15px;
  left: 310px;
}

.leftarrow {
  position: absolute;
  top:26px;
  left:22px;
}

/* Relaxation  */


.progressbar3 {
  position:absolute;
  top:100px;
  left:40px;
}

.timer {
  font-size: 30px;
  position: relative;
  top: 338px;
  text-align: center;
  margin:auto;
}

.timer h1{
  font-size: 26px;
}

.startwithicon {
  position:relative;
  margin:auto;
  top:650px;
}

.logowithbreathing {
  position:absolute;
  top:500px;
  left:120px;
}

.logowithbreathing img{
  width:70%;
}

.breathingcircle {
  color: transparent;
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(204, 236, 240, 0.889);
  animation: breathe 7s linear infinite;
}
@keyframes breathe {
  0% {
 box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3), 0 0 0 30px rgba(188, 237, 243, 0.3), 0 0 0 45px rgba(188, 237, 243, 0.3), 0 0 0 60px rgba(188, 237, 243, 0.3), 0 0 0 75px rgba(188, 237, 243, 0.3);
  }
  50% {
 box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.3), 0 0 0 50px rgba(188, 237, 243, 0.3), 0 0 0 75px rgba(188, 237, 243, 0.3), 0 0 0 100px rgba(188, 237, 243, 0.3), 0 0 0 125px rgba(188, 237, 243, 0.3);
  }
  100% {
 box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3), 0 0 0 30px rgba(188, 237, 243, 0.3), 0 0 0 45px rgba(188, 237, 243, 0.3), 0 0 0 60px rgba(188, 237, 243, 0.3), 0 0 0 75px rgba(188, 237, 243, 0.3);
  }
 }