.leftarrow {
    position: absolute;
    top:26px;
    left:22px;
  }

.nav {
    position: absolute;
    top:15px;
    left: 310px;
  }

.MusicTitle {
    position: absolute;
    left: 60px;
    margin: auto;
}

.sound {
    position: absolute;
    margin: auto;
    top: 35px;
    right: 12px;

}

.bubbleText {
    position:absolute;
    top:-100px;
    left:38px;
    font-family: 'Nanum Pen Script', cursive;
    font-size:32px;
    color:#515253;
    
  }

.itemList{
    position: relative;
    /* display: flex;
    justify-content: center; */
    top: 100px;
}
/* 
.logo2{
    position: absolute;
    width: 20%;
} */


.prevNext{
    display: flex;
    /* justify-content: flex-end; */
    padding-top: 200px;
    position: absolute;
    top: 520px;
    left: 30px;
    /* padding-right: 10px; */
    /* padding-top: 60%; */
}



.logo {
    position:absolute;
    top:400px;
    left:86px;
  }

.optBtn{

    position: relative;
    padding: 10px;


}

.itemList1{
    position: absolute;
    top: 670px;
    left: 20px
}

.itemList2{
    position: absolute;
    top: 670px;
    left: 200px
}


.colBtn {
    position: relative;
    padding: 10px;
    width: 70%;
    padding-top: 30px;
}

.colName{
    position: absolute;
    display: flex;
    padding-left: 45px;
    /* margin: auto; */
}
