.h1 {
  position:absolute;
  top:80px;
  left:60px;
}

.logo {
  position:absolute;
  top:350px;
  left:86px;
}

.bubbleText {
  position:absolute;
  top:6px;
  left:10px;
  font-family: 'Indie Flower', cursive;
  font-size:30px;
}

.StartBtn {
  position:relative;
  margin:auto;
  top:500px;
}


